
<form [formGroup]="loadForm" novalidate>

  <mat-form-field>
    <input matInput placeholder="HPMS File" formControlName="hpms_fl">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="FIPS Code File" formControlName="fipsCode_fl">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Highway Groups File" formControlName="highwayGroups_fl">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Axle Configuration" formControlName="axleConfiguration_fl">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Axle Load Single" formControlName="axleLoadSi_fl">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Axle Load Tandem" formControlName="axleLoadTa_fl">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Axle Load Tri" formControlName="axleLoadTr_fl">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="County FIPS File" formControlName="countyFips_fl">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="MERRA2 File" formControlName="merra2List_fl">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="ESTAR Coeffs" formControlName="estarCoeffs_fl">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="HMA Gradation Volumetrics" formControlName="hmaGradation_fl">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Base Modulus File" formControlName="baseModulus_fl">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Subgrade Modulus File" formControlName="subgradeModulus_fl">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Soil Properties File" formControlName="soilProperties_fl">
  </mat-form-field>

</form>
