<form [formGroup]="runForm" class="d-flex flex-column w-75 h-100" novalidate>
    <mat-tab-group (selectedTabChange)="onTabChanged($event)">
        <mat-tab label="Submit Jobs">

            <!-- PYTHON Submit -->
            <mat-card class="w-75">
                <div class="button-wrapper d-flex justify-content-between">
                    <button mat-flat-button color="primary" (click)="submitRun()">Submit Run</button>
                    <button mat-flat-button color="primary" (click)="checkRun()">Check Run</button>
                    <button mat-flat-button color="primary" (click)="cancelRun()">Cancel Run</button>
                </div>
            </mat-card>
        </mat-tab>
        <mat-tab label="Connection and Uploads">
            <!-- ANL Settings -->
            <mat-card>
                <div class="button-wrapper d-flex justify-content-between">
                    <button mat-flat-button color="primary" (click)="checkConnection()">Check Connection</button>
                    <button mat-flat-button color="primary" (click)="uploadNapcomFiles()">Upload NAPCOM files</button>
                    <button mat-flat-button color="primary" (click)="uploadUpdapsFiles()">Upload UPDAPS files</button>

                </div>
            </mat-card>

        </mat-tab>
        <mat-tab label="Shell Commands">
            <!-- Shell commands -->

            <mat-card>
                <div class="display-6 text-left">Shell commands</div>

                <mat-form-field>
                    <input matInput placeholder="Command" formControlName="command">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Arguments" formControlName="args">
                </mat-form-field>

                <mat-divider [inset]="true" class="mb-4 mt-4"></mat-divider>

            </mat-card>

            <div class="button-wrapper d-flex justify-content-between">
                <button mat-flat-button color="primary" (click)="runCommand()">Run</button>
                <button mat-flat-button color="primary" (click)="clear()">Clear</button>
                <button mat-flat-button color="primary" (click)="cancel()">Cancel</button>
            </div>

        </mat-tab>
    </mat-tab-group>

    <mat-divider [inset]="true" class="mb-4 mt-4"></mat-divider>

    <mat-form-field>
        <input matInput placeholder="Return Code" formControlName="code" readonly>
    </mat-form-field>

    <mat-form-field>
                    <textarea matInput placeholder="Results" formControlName="results" cdkTextareaAutosize
                              cdkAutosizeMinRows="4" readonly></textarea>
    </mat-form-field>

    <mat-form-field class="run-live-update">
                    <textarea #liveupdate matInput placeholder="Live Update" formControlName="liveResults"
                              cdkAutosizeMinRows="10" readonly></textarea>
    </mat-form-field>


</form>



