.run-live-update {
  flex-grow: 2;
//  ::ng-deep div {
//    height: 100% !important;
//  }
//}


  ::ng-deep .mat-form-field-wrapper {
    height: 100% !important;

    ::ng-deep .mat-form-field-flex {

      height: 100% !important;

      ::ng-deep .mat-form-field-infix {

        height: 100% !important;
        textarea {
          height: 100%;
        }
      }
    }
  }
}

.status-text {
  font-size: 12px;
  line-height: 32px;
  font-weight: 400;
  color: greenyellow;
}