
<form [formGroup]="loadForm" novalidate>

  <mat-form-field>
    <input matInput placeholder="Analysis Period" formControlName="period">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Selected States" formControlName="states">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Selected Highway Types" formControlName="highwayTypes">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Selected Pavement Types" formControlName="pavementTypes">
  </mat-form-field>

</form>
