@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config:    mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette:  map.get($color-config, 'accent');
  $warn-palette:    map.get($color-config, 'warn');
  $background:      map.get($color-config, 'background');
  $foreground:      map.get($color-config, 'foreground');

  .app-sidenav {
    background: -webkit-gradient(linear,
      40% 0%,
      75% 84%,
      from(mat.get-color-from-palette($primary-palette, 500)),
      to(mat.get-color-from-palette($primary-palette, 600)),
      color-stop(.6, mat.get-color-from-palette($primary-palette, 400)));

    color: mat.get-color-from-palette($foreground, 'text');
    @include mat.sidenav-theme($theme);
    @include mat.list-theme($theme);
  }
}

@mixin typography($theme) {
  // Get the typography config from the theme.
  $typography-config: mat.get-typography-config($theme);

  .app-sidenav {
    font-family: mat.font-family($typography-config);
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
