<form [formGroup]="connectForm" novalidate>
    <mat-form-field>
        <input matInput placeholder="ANL Host" formControlName="anlHost">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="ANL User" formControlName="anlUser">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="ANL Node Cluster" formControlName="anlNodeCluster">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="ANL Password" formControlName="anlPwd" type="password">
    </mat-form-field>

    <mat-card>
        <div class="button-wrapper d-flex justify-content-between">
            <button mat-flat-button color="primary" (click)="checkConnection()">Check Connection</button>
        </div>
    </mat-card>

    <mat-form-field class="run-live-update">
                    <textarea #liveupdate matInput placeholder="Check connection results will appear here"
                              formControlName="liveResults"
                              cdkAutosizeMinRows="5" readonly cdkTextareaAutosize></textarea>
    </mat-form-field>

</form>
