mat-nav-list {
  padding: 1rem;
}

.sidebar-emin {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  color: greenyellow;

};